doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  link(rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/night-owl.min.css")
  link(rel='stylesheet' href='css/markdown.css')
  title #{title}

div.container
    h2 Basic Markdown Syntax
    p To learn more take a look at the official Markdown 
            a(href='https://www.markdownguide.org/basic-syntax/' target='_blank' style='text-decoration: none') documentation  
    div.header
        div.left
            h2  Element
        div.right
            h2  Markdown Syntax
        
    div.elements
        div.left
            h2  Heading
        div.right 
            p  ## Heading h2
            p  ### Heading h3

    div.elements
        div.left 
            h2  Bold
        div.right 
            p  **bold text**

    div.elements
        div.left 
            h2  Italic
        div.right 
            p  *italic text*

    div.elements
        div.left 
            h2  Blockquote
        div.right 
            p  > blockquote

    div.elements
        div.left 
            h2  Ordered List
        div.right 
            p  1. Item 1
            p  2. Item 2
            p  3. Item 3

    div.elements
        div.left 
            h2  Unordered List
        div.right 
            p  * Item 1
            p  * Item 2
            p  * item 3

    div.elements
        div.left 
            h2  Code
        div.right 
            p  ```const sum = (x, y) => x + y  ```
    div.elements
        div.left 
            h2  Link
        div.right 
            p  [title](https://example.com) 

    div.elements
        div.left 
            h2  Image
        div.right 
            p  ![alt text](http://example-image.png)
                                                                      
                  
        
                
                              

