* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: 'Baloo 2', cursive;
  background: #fafafa;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}
body::-webkit-scrollbar-track {
  background: #0c0e1c;
}
body::-webkit-scrollbar-thumb {
  background: #1DA977;
  border-radius: 50px;
}

header {
  top: 0;
  height: 10vh;
  width: 100%;
  background: #0c0e1c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 10;
}
header .logo {
  font-size: 24px;
  font-weight: bold;
}

header ul {
  display: flex;
  list-style: none;
}
ul li a,
ul li p {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
ul li a:hover {
  color: #fff;
}
ul li {
  padding: 0 2rem;
}

header .search {
  width: 500px;
  position: relative;
}

header .search input {
  background-image: url('../illustrations/search.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-size: 15px 15px;
  padding: 5px 10px 5px 10px;
  border: none;
  width: 100%;
  background: #0c0e1c;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  border-bottom: 3px solid #55c57a;
}

.search input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}

.search input::placeholder {
  margin-top: auto;
  font-family: inherit;
  color: #fff;
  opacity: 0.8;
}

.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  position: relative;
}

.container .left-nav {
  margin-top: 10vh;
  height: 90vh;
  background: #0c0e1c;
  width: 20%;
  position: fixed;
}

.left-nav ul {
  margin: 1rem 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.left-nav ul li {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  transition: all 0.1s ease-in-out;
}

.is-active {
  border-left: 3px solid #1DA977;
}

.is-active a {
  color: #1DA977;
}
.left-nav ul li:hover {
  border-left: 3px solid #1DA977;
}

.left-nav ul li a {
  transition: all 0.1s ease-in-out;
}

.left-nav ul li a:hover {
  color: #1DA977;
}

.main {
  width: 80%;
  margin-left: 20%;
  padding: 2rem 5rem;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.main .login-form {
  margin: 0 auto;
  width: 90%;
  background: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 1rem 1rem;
  border-radius: 5px;
}

h2 {
  color: #1DA977;
  font-size: 38px;
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.25rem;
  color: inherit;
  padding: 0.5rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.911);
  /* Pseudo element (a visible thing that isn't really in the DOM).
          Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  color: #1DA977;
}

.btn {
  outline: none;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem;
  border-radius: 35px;
  margin: 2rem auto;
  background: #1DA977;
  border: none;
  box-shadow: 0px 2px 2px #4cac7e41;
  color: #fff;
  font-size: 20px;
  font-family: inherit;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(5px);
  box-shadow: 0px 4px 6px #4cac7e41;
}

.main .checkboxes {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.checkboxes .label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: rgb(199, 195, 195);
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.label input:checked ~ .checkmark {
  background-color: #1DA977;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#search-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  background: #0c0e1c;
  position: absolute;
  top: 8.3vh;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: -10;
  transition: 0.3s all ease-in-out;
  padding: 1rem 2rem;
  overflow: scroll;
}

#search-results::-webkit-scrollbar {
  width: 0.55rem;
}
#search-results::-webkit-scrollbar-track {
  background: #0c0e1c;
}
#search-results::-webkit-scrollbar-thumb {
  background: #1DA977;
  border-radius: 50px;
}

#search-results .user {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  margin: 1rem 0;
}
