* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
}

body {
  font-family: 'Baloo 2', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9fdf9;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}
body::-webkit-scrollbar-track {
  background: #0c0e1c;
}
body::-webkit-scrollbar-thumb {
  background: #4cac7d;
  border-radius: 50px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #1c0452;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.container {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 10vh;
  width: 100%;
  background: #0c0e1c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 10;
}
header .logo {
  font-size: 24px;
  font-weight: bold;
}

header ul {
  display: flex;
  list-style: none;
}
ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}
ul li {
  padding: 0 2rem;
}

.container .sec1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}

.sec1 .intro-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.intro-left h1 {
  font-size: 55px;
  color: #0c0e1c;
  margin: 0;
}

.intro-left p {
  font-size: 22px;
  color: #4cac7d;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.intro-right img {
  height: 400px;
  width: 500px;
}

.cta {
  display: flex;
  justify-content: space-around;
}

.btn-cta {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem;
  border-radius: 35px;
  margin: 2rem auto;
  background-color: #4cac7d;
  border: none;
  box-shadow: 0px 2px 2px #4cac7e41;
  color: #fff;
  font-size: 20px;
  font-family: inherit;
}

.cta .btn {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 35px;
}

.cta a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.cta .signup {
  background-color: #0c0e1c;
  margin-left: -10px;
  box-shadow: 0px 2px 2px #0c0e1c;
  transition: all 0.5s ease-in-out;
}

.cta .login {
  border: 4px solid #4cac7d;
  box-shadow: 0px 2px 2px #4cac7e41;
  transition: all 0.5s ease-in-out;
}

.container .sec2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5rem;
}

.sec2-left img {
  height: 400px;
  width: 500px;
}

.sec2-right h2 {
  font-size: 38px;
  color: #4cac7d;
}

.sec2-right p {
  font-size: 20px;
  width: 80%;
}

.sec3-left h2 {
  font-size: 38px;
  color: #4cac7d;
}
.sec3-left p {
  font-size: 20px;
  width: 80%;
}

.sec4-left img {
  width: 400px;
  height: 400px;
}

.sec4-right h2 {
  font-size: 38px;
  color: #4cac7d;
}

.sec4-right p {
  font-size: 20px;
  width: 80%;
}

.sec5-right img {
  width: 400px;
  height: 400px;
}

.sec5-left h2 {
  font-size: 38px;
  color: #4cac7d;
}
.sec5-left p {
  font-size: 20px;
  width: 80%;
}

.sec6-right {
  margin-left: 3rem;
}
.sec6-right h2 {
  font-size: 38px;
  color: #4cac7d;
}

.sec6-right p {
  font-size: 20px;
  width: 90%;
}

.sec7-left h2 {
  font-size: 38px;
  color: #4cac7d;
}

.sec7-left p {
  font-size: 20px;
  width: 90%;
}

header {
  height: 10vh;
  width: 100%;
  background: #0c0e1c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 10;
}
header .logo {
  font-size: 24px;
  font-weight: bold;
}

header ul {
  display: flex;
  list-style: none;
}
ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}
ul li {
  padding: 0 2rem;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: 2rem;
  align-items: center;
}

.container img {
  height: 300px;
  width: 600px;
}

.login-form {
  margin: 1rem auto;
  width: 40%;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 1rem 1rem;
  border-radius: 5px;
}

.login-form h2 {
  color: #4cac7d;
  font-size: 38px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit;
  padding: 0.5rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
          Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__label {
  display: block;
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

[data-scroll] {
  transition: all 2s;
}

[data-scroll='in'] {
  opacity: 1;
  transform: translateX(0);
}

[data-scroll='out'] {
  opacity: 0;
  transform: translateX(-20px);
}
