* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Baloo 2', cursive;
  background-color: #161a33;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}
body::-webkit-scrollbar-track {
  background: #0c0e1c;
}
body::-webkit-scrollbar-thumb {
  background: #1da977;
  border-radius: 50px;
}

header {
  top: 0;
  height: 10vh;
  width: 100%;
  background: #0c0e1c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 10;
}
header .logo {
  font-size: 24px;
  font-weight: bold;
}

header ul {
  display: flex;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li a,
ul li p {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  transition: all 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
}
ul li a:hover {
  color: #fff;
}
ul li {
  padding: 0 2rem;
}

header .search {
  width: 500px;
  position: relative;
}

header .search input {
  background-image: url('../illustrations/search.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-size: 15px 15px;
  padding: 5px 10px 5px 10px;
  border: none;
  width: 100%;
  background: #0c0e1c;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  border-bottom: 3px solid #de4760;
}

.search input:focus {
  outline: none;
  border-bottom: 3px solid #de4760;
}

.search input::placeholder {
  margin-top: auto;
  font-family: inherit;
  color: #de4760;
  opacity: 0.8;
}

.users {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.users .user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #181c38;
  border-radius: 11px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.18);
}

.user-card h3 {
  margin-top: 0.5rem;
  font-size: 34px;
  color: #fff;
  opacity: 0.95;
}

.user-card p {
  color: #fff;
  font-size: 20px;
}

.user-card .actions {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.search-container {
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}

.search-container input {
  width: 50%;
  height: 60px;
  border: none;
  outline: none;
  background: #fff;
  font-family: inherit;
  font-size: 18px;
  color: #0c0e1c;
  padding: 0 1rem;
}

.search-container button {
  width: 10%;
  height: 60px;
  padding: 0 2rem;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #de4760;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}
